<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/UserPlatformDB"
              type="javax.sql.DataSource" auth="Container"
              description="Derby database for User Platform"
              maxActive="100" maxIdle="30" maxWait="10000"
              username="" password=""
              driverClassName="org.apache.derby.jdbc.EmbeddedDriver"
              url="jdbc:derby:/db/user-platform;create=true"/>

    <!-- FactoryBean -->
    <Resource name="bean/DBConnectionManager" auth="Container"
              type="com.cdd.user.web.sql.DBConnectionManager"
              factory="org.apache.naming.factory.BeanFactory"/>

    <!--
    缺少指定 interface 类型的属性
    目标注入的类型：javax.persistence.EntityManager
    -->
    <Resource name="bean/EntityManager" auth="Container"
              type="com.cdd.user.web.orm.jpa.DelegatingEntityManager"
              persistenceUnitName="emf"
              propertiesLocation="META-INF/jpa-datasource.properties"
              factory="org.apache.naming.factory.BeanFactory"/>

    <Resource name="bean/Validator" auth="Container"
              type="com.cdd.user.web.validator.bean.validation.DelegatingValidator"
              factory="org.apache.naming.factory.BeanFactory"/>

    <Resource name="bean/UserService" auth="Container"
              type="com.cdd.user.web.service.UserServiceImp"
              factory="org.apache.naming.factory.BeanFactory"/>
    <Resource name="bean/LoginController" auth="Container"
              type="com.cdd.user.web.web.controller.LoginController"
              factory="org.apache.naming.factory.BeanFactory"/>
    <Resource name="bean/HelloWorldController" auth="Container"
              type="com.cdd.user.web.web.controller.HelloWorldController"
              factory="org.apache.naming.factory.BeanFactory"/>
    <!--    scanClassPath 扫描所有class   scanAllDirectories扫描所有文件
    Tomcat determines if a directory is an expanded JAR file by looking for a META-INF sub-directory.
    Only if the META-INF sub-directory exists, the directory is assumed to be an expanded JAR file.
    Note that for scans for matches to @HandlesTypes annotations,
    all directories will be scanned irrespective of the presence or not of a META-INF sub-directory.
    scanManifest="false" 识别不了该属性

    -->
    <JarScanner scanAllDirectories="true">
        <!--        <JarScanFilter-->
        <!--                tldSkip="jaxb-runtime*.jar,stax-ex*.jar,istack-commons-runtime*.jar,txw2*.jar,FastInfoset*.jar,jaxb-api*.jar"/>-->
        <!--        跳过检查某包-->
        <!--        No rules found matching 'Context/JarScanner/JarScanFilter' 不知道什么原因-->
<!--        <JarScanFilter tldSkip="istack-commons-runtime-3.0.7.jar" pluggabilitySkip="istack-commons-runtime-3.0.7.jar"/>-->
    </JarScanner>


</Context>
